<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574416468964-vet2od7kmkqvvcqfonk99ksj64hhid9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574416468964-vet2od7kmkqvvcqfonk99ksj64hhid9n</string>
	<key>API_KEY</key>
	<string>AIzaSyDafVaV5xnviunp4rGSYYP-iUMU6uiM-IU</string>
	<key>GCM_SENDER_ID</key>
	<string>574416468964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blocFirebase</string>
	<key>PROJECT_ID</key>
	<string>bloc-firebase-m477k</string>
	<key>STORAGE_BUCKET</key>
	<string>bloc-firebase-m477k.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574416468964:ios:7d9e28cefb46cc22a9e5f1</string>
</dict>
</plist>